.main{
    min-height: 190vh;
    background-image: url("../../assets/images/login-bg.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
 
.spacing{
    margin: .8rem 0;
}
 
.alert-spacing{
    margin: 1rem;
}
 
.card-size{
    width: 600px;
    position: relative;
    left: 4rem;
    top: 4rem;
    padding: .8rem;
}