table {
    justify-content: center;

    width: 1000px;
}

table,
th,
td {
    border: 1px solid black;
}

.bold{
    font-weight: 500;
}

@media print{
    .print-ticket{
        display: none;
    }

    #print{
        margin-top: 2cm;
    }
}